.header {
	background-color: #2c415f;
}

a {
	color: #3366BB;
}

.container {
    text-align: center;
    background-color: #252b33;
}
.section {
	background-color: #2c415f;
}

body {
    color: White;
    background-color: #252b33; 
}